.vscode/**
doc-assets/**/*
**/*.ts
**/*.map
**/coverage
**/*.d.ts
.gitignore
**/tsconfig.json
**/tsconfig.base.json
.github/**
client/test/**
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
server/test/**
client/jest.e2e.config.js
server/jest.config.js
native/.clang-format
native/CMakeLists.txt
native/cpp/**
native/prebuilds/**
native/build/**
!native/build/Release/**
native/polserver/**
native/node_modules/**
